body {
  background: url(img/823503.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: #0b0b0b; */
}

.renderBtn {
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: none;
  display: block;
}

.renderBtn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.charactersCard img {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  /* border-bottom: 2px solid rgb(0, 162, 255); */
}

.content {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.charactersCard {
  /* background: #0b0b0b; */
  backdrop-filter: blur(10px);
  color: aliceblue;
  margin: 0px 10px 30px 10px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid rgb(0, 166, 255);
  filter: drop-shadow(0 0 10px rgb(0, 200, 255));
}

.form-check {
  color: aliceblue;
  font-size: 1.1rem;
}

.wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeworlds-filter-container {
  display: flex;
  gap: 1rem;
  margin-left: 10px;
}
